{{> header }}

<h2 class="page-title"><i class="fas fa-cogs"></i> Admin statistics</h2>

<div class="row">
    <div class="col text-right">
        Number of completed purchases today
    </div>
    <div class="col text-left">
        {{ stats.today_count }}
    </div>
</div>
<div class="row">
    <div class="col text-right">
        Total of completed purchases today
    </div>
    <div class="col text-left">
        &pound;{{ stats.today_sum }}
    </div>
</div>
<div class="row">
    <div class="col text-right">
        Number of completed purchases all
    </div>
    <div class="col text-left">
        {{ stats.all_count }}
    </div>
</div>
<div class="row">
    <div class="col text-right">
        Total of completed purchases all
    </div>
    <div class="col text-left">
        &pound;{{ stats.all_sum }}
    </div>
</div>

{{> footer }}
