{{> header }}

<h2 class="page-title"><i class="fas fa-check"></i> Booking complete</h2>

<div class="alert alert-success">
    <p><b>Your booking reference is '{{ purchase.bkgref }}'</b></p>
    <p>Your booking is now complete. Thank you.</p>
    <p>You will receive an email with your booking details shortly.</p>
</div>

{{> footer }}


