{{> header }}

<h2 class="page-title"><i class="fas fa-calendar-alt"></i> Choose your train...</h2>

<p class="alert alert-info"><i class="fas fa-info-circle"></i> Click an available time on the day you want to travel.</p>

{{> formerrors }}

{{# structure }}
    <div class="row">
        {{# days }}
            <div class="col">
            	<div class="island bg-warning">
                    <div class="island-header">
                        <center><h3>{{ date }}</h3></center>
                    </div>
                    <div class="island-body">
                        {{# times }}
                            {{# available }}
	                            <form method="post" action="{{# path }}booking/date{{/ path }}">
	                                <input type="hidden" name="dateid" value="{{ dateid }}">
	                                <input type="hidden" name="timeid" value="{{ timeid }}">
		                            <button class="btn btn-block btn-info">
		                                <span class="ridetime"><i class="far fa-clock"></i> {{ time }}</span>
		                                <span class="availability">{{ message }}</span>
		                            </button>
	                            </form>
                            {{/ available }}
                            {{^ available }}
	                            <button class="btn btn-block btn-secondary" disabled>
	                                <span class="ridetime"><i class="far fa-clock"></i> {{ time }}</span>
	                                <span class="availability">Sold out!</span>
	                            </button>
                            {{/ available }}
                        {{/ times }}
                    </div>
                </div>
            </div>
        {{/ days }}
    </div>	
{{/ structure }}

<div class="clearfix"></div>

<div class="santa-buttons">
    <a href="<?php echo $this->Url('booking/numbers') ?>" class="btn btn-warning">Go back</a>
</div>

{{> footer }}
