{{> header }}

<h2 class="page-title"><i class="fas fa-hourglass"></i> Timed out...</h2>

<div class="alert alert-danger">
    Sorry - you have taken too long to respond and your booking has been cancelled. Please
    click the continue button to start again.
</div>

<div class="santa-buttons">
    <a href="{{# path }}booking/start{{/ path }}" class="btn btn-info">Continue</a>
</div>

{{> footer }}

