{{> header }}

    <h3 class="text-error">Payment failure</h3>

    <div class="panel panel-danger">
        <div class="panel-body">
            <p>Something has gone wrong communicating with our payment service.</p>
            <p>Please try again later. If you're still having problems contact
            webmaster@srps.org.uk with the following information:</p>
            <p><i>(Diagnostic status: {{ status }}, message: '{{ diagnostic }}')</i></p>
        </div>
    </div>

{{> footer }}
