{{> header }}

<h2 class="page-title"><i class="fas fa-exclamation-triangle"></i> Before you start...</h2>

<div class="alert alert-info">
    <h4 class="mb-4">Please read the following carefully...</h4>
    
    <p>Welcome to the B&amp;KR Santa Steam Trains Online Booking service.</p>
    <p>Please do <strong>NOT</strong> use this online service if you have any special requirements. For example,</p>
    <ul>
        <li>one of your party uses a wheelchair,</li>
        <li>you have a party of more than 16 persons.</li>
    </ul>
    <p>You should call our Santa Line on <b>01506 824356</b></p>
</div>

<div class="santa-buttons">
    <a href="{{# path }}booking/numbers{{/ path }}" class="btn btn-info btn-lg"><i class="fas fa-play"></i> Start your booking...</a>
</div>

{{> footer }}
