<div class="row mt-4">
    <div class="col-6 text-left">
        <button name="cancel" value="cancel" class="cancelbutton btn btn-secondary"><i class="fas fa-undo"></i> Go back</button>
    </div>
    <div class="col-6 text-right">
        <button name="save" value="save" class="btn btn-primary btn-lg"><i class="fas fa-forward"></i> Next step...</button>
    </div>
</div>
