
<p>
    Dear {{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }},
</p>

<p>
    Thank you for booking with the Scottish Railway Preservation Society for our
    Santa Steam Trains at the Bo'ness & Kinneil Railway, West Lothian.
</p>

<p>
    Tickets will be posted out to passengers from Friday 2nd November onwards.
</p>

<p>
    The letter you will receive with your tickets will tell you in which coach
    your seats are reserved. Your group will be seated together.
</p>

<p>
    To find your seats on the day, look at the reservation labels on the tables in the coach;
    these will show the name in which the booking was made.
</p>

<p>
    Please let us know by email to <a href="mailto:santa@srps.org.uk">santa@srps.org.uk</a>
    if there are any important details we need to know regarding your booking, e.g.
</p>

<ul>
    <li>if you require special assistance or wheelchair accommodation</li>
    <li>if you have made more than one booking for the same train and wish the seats to be together</li>
    <li>if your ticket has not arrived within 7 days of travel.</li>
</ul>

<p>
    Note that changes to your booking once your ticket has
    been sent out may incur a £5 administration charge.
</p>

<p>
    Please quote your booking reference, '{{ purchase.bkgref }}' in any correspondence.
</p>

<p>
    We look forward to seeing you soon,
</p>

<p>
    The Santa Team!
</p>

<p>
    Your booking details are as follows...
</p>

<p><b>{{# purchase.bookedby }}Telephone {{/ purchase.bookedby }}Booking reference: {{ purchase.bkgref }}</b></p>

<address>
    {{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }}<br />
    {{ purchase.address1 }}<br />
    {{# purchase.address2 }}{{ purchase.address2 }}<br />{{/ purchase.address2 }}
    {{ purchase.address3 }}<br />
    {{# purchase.address4 }}{{ purchase.address4 }}<br />{{/ purchase.address4 }}
    {{# purchase.county }}{{ purchase.county }}<br />{{/ purchase.county }}
    {{ purchase.postcode }}<br />    
</address>

<p>Contact details:
    <ul>
        <li>Telephone: {{ purchase.phone }}</li>
        <li>Email: {{ purchase.email }}</li>
    </ul>    
</p>    

<p>
    Santa train booking details:
    <ul>
        <li>Date: {{ date  }}</li>
        <li>Departing Bo'ness: {{ time }}</li>
    </ul>
</p>

<p>Seats booked: 
    <ul>
        <li>Adults: {{ purchase.adult }}</li>
        <li>Children: {{ purchase.child }}</li>
        {{# purchase.infant }}<li>Infants: {{ purchase.infant }} <i>(Infants are not allocated a seat)</li>{{/ purchase.infant }}
    </ul>
</p>   


<p>Thank you for your payment of &pound;{{ total }}.</p>

<p>
    Please check the above details carefully and email us at santa@srps.org.uk
    if you have any questions about this booking. Please do not reply to this 
    email as the mailbox is not monitored. 
<p>    
    
<p>We hope you have an enjoyable day.</p>

