
Dear {{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }},

{{# purchase.bookedby }}Telephone {{/ purchase.bookedby }}Booking reference: {{ purchase.bookingref }}

Thank you for booking with Santa Steam Trains at the Bo'ness & Kinneil Railway.
However, we regret that your payment has been declined by our online payment partner. 

This email contains the information we have received for our payment partner. 
Please DO NOT contact us regarding this payment as we have no other details.
We advise you to contact your card issuer directly. 

    Card type: {{ purchase.cardtype }}
    Payment status: {{ purchase.statusdetail }}
    Bank decline code: {{ purchase.declinecode }}

Please contact us on {{ config.help_number }} if you have any other questions about this or
any other bookings. Please do not reply to this email as the mailbox is not 
monitored.

