
Dear {{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }},

Thank you for booking with the Scottish Railway Preservation Society for our
Santa Steam Trains at the Bo'ness & Kinneil Railway, West Lothian.
Tickets will be posted out to passengers from Friday 2nd November onwards.

Seats have been reserved for you in the coach which will be printed on your ticket.
On the day, to find your seats look at the reservation labels on the tables in the coach.
These will show the name in which the booking has been made.

Please let us know by email to santa@srps.org.uk if there are any important
details we need to know regarding your booking, e.g.

  * if you require special assistance or wheelchair accommodation
  * if you have made more than one booking for the same train and wish the seats to be together
  * if you ticket has not arrived within 7 days of travel.

Note that changes to your booking once your ticket has
been sent out may incur a £5 administration charge.

Please quote your booking reference, '{{ purchase.bkgref }}' in any correspondence.

We look forward to seeing you soon,

The Santa Team!

Your booking details are as follows...

{{# purchase.bookedby }}Telephone {{/ purchase.bookedby }}Booking reference: {{ purchase.bkgref }}

{{ purchase.title }} {{ purchase.firstname }} {{ purchase.surname }}<br />
{{ purchase.address1 }}<br />
{{# purchase.address2 }}{{ purchase.address2 }}<br />{{/ purchase.address2 }}
{{ purchase.address3 }}<br />
{{# purchase.address4 }}{{ purchase.address4 }}<br />{{/ purchase.address4 }}
{{ purchase.postcode }}<br />    

Contact details:

    Telephone: {{ purchase.phone }}
    Email: {{ purchase.email }}

    Santa train booking details:
        Date: {{ date  }}
        Departing Bo'ness: {{ time }}

Seats booked: 
    Adults: {{ purchase.adult }}
    Children: {{ purchase.child }}<
    {{# purchase.infant }}<li>Infants: {{ purchase.infant }} <i>(Infants are not allocated a seat)</li>{{/ purchase.infant }}


Thank you for your payment of £{{ total }}.

    Please check the above details carefully and phone us on {{ config.help_number }} (10.30am to 12 noon / 1pm to 2:30pm weekdays)
    if you have any questions about this booking. Please do not reply to this 
    email as the mailbox is not monitored. 
    
We hope you have an enjoyable day.

