<!DOCTYPE HTML>

<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{{{ www }}}/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{{ www }}}/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{{ www }}}/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{{ www }}}/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{{ www }}}/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{{ www }}}/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{{ www }}}/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{{ www }}}/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{{ www }}}/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{{ www }}}/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{{ www }}}/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{{ www }}}/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{{ www }}}/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{{ www }}}/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{{ www }}}/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{# asset }}css/santa.css{{/ asset }}">

    <title>Bo'ness & Kinneil Railway Santa Trains Online Booking</title>
</head>
<body>

<div id="data-www" data-www="{{{ www }}}"></div>

<div class="container-fluid">
    <div id="mainheading" class="row">
        <div id="bannerimg" class="col-12">
            {{# system.loggedin }}
                {{> menu }}
            {{/ system.loggedin }}
            <div class="row pt-3">
                <div class="col-lg-2 col-sm-12 text-sm-center text-lg-right">
                    <img src="{{# asset }}image/logo.png{{/ asset }}" /> 
                </div>
                <div class="col-lg-10 col-sm-12 text-sm-center text-lg-left">
                    <h2 id="bkr">Bo'ness & Kinneil Railway<br />Santa Trains Booking</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="maincontent" class="row pt-4">
        <div class="col-sm-12 col-lg-8 offset-lg-2">

