{{> header }}

<h2 class="page-title"><i class="fas fa-sliders-h"></i> Limits</h2>

{{> formerrors }}

<form role="form" method="post" action="{{# path }}limit/index{{/ path }}">
    {{# formdates }}
        <h3>{{ formatteddate }}</h3>
        <table class="table">
            <thead>
                <th>Time</th>
                <th>Limit</th>
                <th>Max party size</th>
                <th>Remaining</th>
                <th>&nbsp;</th>
            </thead>
        {{# times }} 
            <tr>
                <td class="lead">
                    {{ time }}
                </td>
                <td>
                    {{{ formlimit }}}
                </td>
                <td>
                    {{{ partysize }}}
                </td>
                <td nowrap>
                    <span class="lead">
                        {{ remaining }}
                    </span>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{# path }}limit/detail{{/ path }}/{{ detail }}">Detail</a>
                </td>
            </tr>
        {{/ times }}
        </table>
        {{{ buttons }}}
    {{/ formdates }}
</form>

{{> footer }}
