<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {{# active }}time{{/ active }}">
        <a class="nav-link" href="{{# path }}time/index{{/ path }}">Times<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{# active }}date{{/ active }}">
        <a class="nav-link" href="{{# path }}date/index{{/ path }}">Dates</a>
      </li>
      <li class="nav-item {{# active }}fares{{/ active }}">
        <a class="nav-link" href="{{# path }}fares/index{{/ path }}">Fares</a>
      </li>
      <li class="nav-item {{# active }}user{{/ active }}">
        <a class="nav-link" href="{{# path }}user/index{{/ path }}">Users</a>
      </li>
      <li class="nav-item {{# active }}limit{{/ active }}">
        <a class="nav-link" href="{{# path }}limit/index{{/ path }}">Limits</a>
      </li>
      <li class="nav-item {{# active }}purchases{{/ active }}">
        <a class="nav-link" href="{{# path }}report/purchases{{/ path }}">Purchases</a>
      </li>
      <li class="nav-item {{# active }}export{{/ active }}">
        <a class="nav-link" href="{{# path }}report/export{{/ path }}">Export</a>
      </li>
      <li class="nav-item {{# active }}booking{{/ active }}">
        <a class="nav-link" href="{{# path }}booking/start{{/ path }}">Booking</a>
      </li>
    </ul>
  </div>
</nav>
