<div id="termsModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Santa Steam Trains Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>GENERAL CONDITIONS OF BOOKING for Santa Steam Trains 2018</p>
        <ol>
          <li>Tickets CANNOT be booked in person at our North Street Office or via Bo’ness Station.</li>
          <li>All seats are fully reserved and must be paid in advance.</li>
          <li>Your ticket is valid for the date, departure time and coach noted on it.</li>
          <li>Discount vouchers, complimentary tickets, season tickets, annual membership cards &amp; vouchers
and other discount passes are not valid for Santa Steam Trains.</li>
          <li>The ticket price includes a return journey from Bo’ness Station to Birkhill Station.</li>
          <li>Allow 28 days from date of booking for receipt of tickets.</li>
          <li>Seats are not allocated to infants under 18 months.</li>
          <li>If you have a special requirement, specifically if one of the party uses a wheelchair (the train
includes a specially adapted coach which can accommodate up to 4 wheelchair passengers) or
you have a party of more than 16 persons, please call 01506 530383.</li>
          <li>Whilst every effort will be made to run the services advertised, the SRPS (operators of the
Bo’ness &amp; Kinneil Railway) reserves the right to alter train services without notice.</li>
          <li>Please allow plenty of time to reach Bo’ness and, if appropriate, sufficient time to park your
car/mini-bus/coach and make your way to the platform to board the train.</li>
          <li>Trains will not be held beyond their scheduled departure time.</li>
          <li>A full refund will be given only if the train service is unable to run.</li>
          <li>Bookings can be changed subject to availability but we reserve the right to apply an administrative charge of £5 for any changes made after the tickets
have been issued.</li>
          <li>To allow time for each child to meet Santa, trains will be stationary for part of the journey.</li>
          <li>The SRPS reserve the right to refuse access to, or remove from the train and stations any
persons who are considered to be using inappropriate behaviour or language affecting the safety
of the train and/or its passengers or spoiling the enjoyment of others or failing to comply with
any reasonable request made by a member of train or station staff.</li>
          <li>If you have any issues during your journey then please bring them to the attention of a member
of staff so there is an opportunity to rectify the situation.</li>
          <li>All proceeds from Santa Steam Train tickets will be used for the development of the Bo’ness &amp;
Kinneil Railway and the Museum of Scottish Railways at Bo’ness.</li>
          <li>SRPS Railtours is a trading subsidiary of SRPS.</li>
          <li>Your booking is taken as acceptance of the above conditions.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
