{{> header }}

<h2 class="page-title"><i class="fas fa-clock"></i> Service times</h2>

{{^ istimes }}
<div class="alert alert-warning">No service times specified</div>
{{/ istimes }}

{{# istimes }}
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Service time</th>
            <th>&nbsp;</th>
        </tr>    
    </thead> 
    <tbody>
        {{# times }}
            <tr>
                <td class="lead"><b>{{ count }}</b></td>
                <td class="lead">{{ time }}</td>
                <td>
                    <a href="{{# path }}time/edit{{/ path }}/{{ id }}" class="btn btn-info"><i class="fas fa-cog"></i> Edit</a>
                    <a href="{{# path }}time/delete{{/ path }}/{{ id }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        {{/ times }}
    </tbody>
    
</table>
{{/ istimes }}

<div class="santa-buttons">
    <a href="{{# path }}time/edit{{/ path }}/0" class="btn btn-info">New service time</a>
</div>

{{> footer }}
