body {
	background: url(../admin/image/bg.jpg);
}

.santa-title {
	text-align: center;
}

.santa-title .santa-minor-title {
	margin: 0;
}

.santa-title .santa-main-title {
	color: #ff0000;
	margin: 5px 0;
	font-weight: bold;
}

div#santa-content {
	background-color: #fff;
	margin: 20px 0;
	padding: 8px;
	border-radius: 8px;
	border: 4px solid #55557d;
	box-shadow: 7px 7px 5px #014991;
}

.santa-table {
    width: 296px;
    height: 260px;
    background: #eee;
    box-shadow: 7px 7px 5px #aaa;
}

.santa-cal {
	width: 320px;
	float: left;
	text-align: center;
}

.santa-cal-container {
	padding-left: 55px;
}

.santa-cell {
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.santa-subtext {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

td.dimmed {
    color: #ddd;
}

td.available {
    background-color: #ff0;
    font-size: 18px;
}

.santa-child {
	text-align: right;
	font-size: 18px;
	padding-top: 6px;
}

.santa-numrow {
	border-bottom: #eee 1px solid;
}

.santa-address {
	margin-bottom: 0;
}

.santa-admin dt {
	padding-bottom: 5px;
}

.santa-admin .btn {
	width: 70px;
}

.santa-admin dd {
	font-size: 18px;
	padding-top: 5px;
}