body {
    font-family: "open sans", sans-serif;  
}

div#bannerimg {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ), 
      url(../image/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px; 
}

div#footerimg {
    color: #fff;
    font-size: 12px;
    background-image: url(../image/grey246.jpg);
    background-size: cover;
    min-height: 300px;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 7px solid #e719a4;
}

#bkr {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding-top: 35px 
}

.page-title {
    font-weight: 400;
    color: #e719a4;
    font-size: 2rem;
    margin-bottom: 1rem;
}
