body {
    font-family: "open sans", sans-serif;  
}

div#bannerimg {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ), 
      url(../image/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px; 
}

div#footerimg {
    color: #fff;
    font-size: 12px;
    background-image: url(../image/grey246.jpg);
    background-size: cover;
    min-height: 300px;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 7px solid #e719a4;
}

#bkr {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding-top: 35px 
}

.page-title {
    font-weight: 400;
    color: #e719a4;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#limittable {
    margin-bottom: 0;
}

.limitbuttons {
    margin-bottom: 2rem;
}

.island {
    background-color: #fff;
    border: 4px solid #e2e5e7;
    border-radius: 5px;
    margin-bottom: 20px;
}

.island-header {
    padding: 5px 10px;
    border-bottom: 4px solid #e2e5e7;
}

.island-body {
    padding: 10px;
}

.island-header h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.island-footer {
    padding: 5px 10px;
    border-top: 1px solid #e2e5e7;
}

.island button {
    margin-bottom: 0.5rem;
    padding: 0;
}

.ridetime {
    display: block;
    font-size: 1.3em;
}

.availability {
    display: block;
    font-size: 0.9em;
}

input[type=text] {
    text-transform: capitalize;
}

#loginform input[type=text], #user_edit input[type=text] {
    text-transform: none !important;
}

.agerow {
    border: 4px solid #e2e5e7;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.agerow .form-group {
    margin-bottom: 0;
}

.submitbuttons {
    margin-top: 1.5rem;
}

div.santa-confirm dt {
    font-weight: bold;
}
